body,
p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
figure {
    font-family: "Noto Sans KR";
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

iframe {
    border: none;
    outline: none;
}

html,
body {
    overflow-x: hidden;
}

a {
    font-family: "Noto Sans KR";
    outline: none;
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

.logo {
    width: 130px;
}

.navbar-cont {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 auto;
    z-index: 10;
    width: 100%;
    background-color: #FFF;
    box-shadow: 0px 10px 20px rgba(50, 40, 102, 0.08);
    display: flex;
    justify-content: center;
}
.field-select{
    width: 498px;
height: 40px;
border-radius: 4px;
border: 1px solid #CCC;
background: #FFF;
}

.navbar-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1180px;
    height: 80px;
    padding: 0 20px;
    box-sizing: border-box;
}
#fst-conetnt,#snd-conetnt,#th-conetnt,#fr-conetnt{
    display: none;
}
.dial-label{
    border-bottom: 1px solid #FFF;
background: #06195A;
width: 80px;
height: 72px;
flex-shrink: 0;
color: #FFF;
font-family: "Noto Sans KR";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
letter-spacing: -0.056px;
display:flex;
justify-content:center;
align-items:center;
}
.dial-label>p{
    text-align:center;
}
.dial-field{
    border-radius: 4px;
border: 1px solid #CCC;
background: #FFF;
width: 219px;
height: 40px;
flex-shrink: 0;
}
.menu {
    display: flex;
    gap: 50px;
    height: 100%;
}

.menu>a {
    line-height: 80px;

    color: #212121;
    font-family: "Noto Sans KR";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.072px;
}

.menu-join {
    display: flex;
    gap: 28px;
}

.menu-join>a {
    color: #212121;
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 125% */
    letter-spacing: -0.064px;
    margin: 0px;
}

.menu>p {
    color: #212121;
    font-family: "Noto Sans KR";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 133.333% */
    letter-spacing: -0.072px;
    margin: 0px;
}

/*.menubar-height {*/
/*    width: 100%;*/
/*    height: 80px;*/
/*}*/

.cont {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
}

.wrapper {
    width: 100%;
    max-width: 1180px;
    padding: 100px 20px;
    box-sizing: border-box;
}

.wrapper.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.banner-text {
    display: flex;
    flex-direction: column;
    gap: 73px;
}

body {
    position: relative;
    overflow-x: hidden;
    margin: 0px;
}

.footer-logo {
    width: 130px;
    height: 27px;
    flex-shrink: 0;
}


.footer-menu {
    width: 80%;
}

.cont.footer {
    background: #272C30;
    padding-top: 50px;
    padding-bottom: 30px;
}

.contact.us {
    color: #FFF;
    font-family: Pretendard Variable;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    /* 141.176% */
    margin-top: 0px;
}

.footer-menu>p {
    color: #FFF;
    font-family: Pretendard Variable;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    /* 156.25% */
    margin-bottom: 12px;
}

.cont {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.copyright {
    color: #797979;
    text-align: right;
    font-feature-settings: 'clig'off, 'liga'off;
    font-family: "Noto Sans KR";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

/* .container {
    max-width: 1180px;

} */
.container {
    /*max-width: 1180px;*/
    width: 100%;
}
@media only screen and (max-width: 767px) and (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media only screen and (max-width: 1199px) and (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media only screen and (max-width: 1399px) and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
@media only screen and (min-width: 1400px) {
    .container {
        max-width: 1180px;
    }
}
  .footer-container {
        display: flex;
        gap: 190px;
        background: #272C30;
        padding: 0px 40px;
    }

.container-fluid.footer {
    display: flex;
    justify-content: center;
     padding-top:50px;
}

.banner-img {
    width: 70%;
    object-fit: cover;
}

.row-1 {
    border: 1px solid #EBEBEB;
    background: #FFF;
}

.row-2 {
    border-left: 1px solid #EBEBEB;
    border-right: 1px solid #EBEBEB;
}

.container-new.footer-container {
    width: 1180px;
    /* gap:71px; */
    gap: 170px;
}

.cont.home {
    background-color: #CDE9FF;
}

.banner-btn {
    border-radius: 10px;
    background: #FFF;
    width: 213px;
    height: 66px;
    color: #212121;
    font-family: "Noto Sans KR";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.072px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-header {
    color: #212121;
    font-family: "Noto Sans KR";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
}

.cont.second {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 60px 0px;
}

.cont.second>div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px 110px;
    border-radius: 40px 0px;
    border: 1px solid #EEE;
    background: #FFF;
    box-shadow: 0px 8px 16px -6px rgba(24, 39, 75, 0.08), 0px 6px 8px -6px rgba(24, 39, 75, 0.12);

}

.icon-box {
    border-radius: 20px;
    border: 1px solid #EBEBEB;
    background: #FFF;
    display: flex;
    flex-direction: column;

    /* height: 187px; */
    padding: 37px 40px 36px 40px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    aspect-ratio: 1;
}

.table-sec {
    margin-top: 80px;
}

.icon {
    display: flex;
    width: 70px;
    height: 70px;
    justify-content: center;
    align-items: center;
}

.icon-box>p {
    color: #212121;
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: -0.064px;
    margin: 0px;
}

/* allcash charge style start */
.new-container {
    width: 1180px;

}

.form-heading {
    color: #212121;
    font-family: "Noto Sans KR";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.096px;
    margin-bottom: 8px;
    margin-top: 0px;
}

.form-subheading {
    color: #555;
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.064px;
    margin-bottom: 32px;
}

.row-1 {
    display: flex;
    gap: 20px;
    align-items: center;
}

.row-2 {
    display: flex;
    gap: 20px;
    align-items: center;
}

.label {
    width: 180px;
    height: 72px;
    border-bottom: 1px solid #FFF;
    background: #06195A;
    color: #FFF;
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 125% */
    letter-spacing: -0.064px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.field {
    border-radius: 4px;
    border: 1px solid #CCC;
    background: #FFF;
    width: 480px;
    height: 40px;
    padding-left: 16px;
}

.field.small {
    width: 372px;
    height: 40px;
    flex-shrink: 0;

}

.field.last::placeholder {
    color: #646464;
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 125% */
    letter-spacing: -0.064px;
    padding: 10px;
}

.field.last {
    border-radius: 4px;
    border: 1px solid #CCC;
    background: #E6E6E6;
}

.conatiner-fluid.form-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-copyright {
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    /* width: 100%; */
    width: 1180px;

}

.new-container {
    width: 1180px;
}

.new-container.form-sec {
    padding-top: 100px;
    padding-bottom: 80px;
}

.btn-submit {
    color: #FFF;
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 133.333% */
    letter-spacing: -0.06px;
    width: 100px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #212121;
    margin-left: -12px;
}

.table-heading {
    color: #212121;
    font-family: "Noto Sans KR";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.096px;
    margin-bottom: 32px;
}

table {
    border-spacing: 0px;
    padding: 0px 12px;
    border: 1px solid #EBEBEB;
}


thead {
    border-bottom: 1px solid black;
}

.table-head {
    border-bottom: 1px solid black;
}

th {
    border-bottom: 1px solid #06195A;
    background: #FFF;
}

td {
    border-bottom: 1px solid #EBEBEB;
    background: #FFF;
}

th,
td {
    padding: 20px;
    color: #212121;
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 125% */
    letter-spacing: -0.064px;
}

.pagination {
    margin-top: 32px;
    margin-bottom: 120px;
}

.pagination-nav {
    border-radius: 4px;

    background: white;
    display: flex;
    width: 32px;
    height: 32px;
    padding: 4px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #DFE3E8;
    background: #FFF;
}

.pagination-nav.active {
    background: #919EAB;
    opacity: 0.5;
}

.number {
    border-radius: 4px;
    border: 1px solid #DFE3E8;
    background: #FFF;
    display: flex;
    width: 32px;
    height: 32px;
    padding: 5px 4px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: var(--Black, var(--Black, #212121));
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
}

.number.active {
    color: #4A85EE;
    border: 1px solid #4A85EE;
}

#dial-cont {
    background-color: rgba(0, 0, 0, 0.70);
    ;
    display: none;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 2px
}

.dailogue-box>h1 {
    color: #212121;
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    /* 160% */
    letter-spacing: -0.08px;
    margin-bottom: 6px;
}

.dailogue-box>h5 {
    color: #555;
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 160% */
    letter-spacing: -0.06px;
    margin-bottom: 24px;
    margin-top: 0px;
}

.dailogue-box>button {
    border-radius: 4px;
    background: var(--Primary-Color, #4A85EE);
    display: flex;
    padding: 10px 80px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    /* 128.571% */
    letter-spacing: -0.056px;

}

.tick {
    width: 60px;
    height: 60px;
    margin-bottom: 16px;

}

.dailogue-box {
    border-radius: 10px;
    background: #FFF;
    display: inline-flex;
    padding: 32px 60px;
    flex-direction: column;
    align-items: center;

}

.moblile-nav-btn {
    display: none;
}

#mob-nav {
    display: none;
}

/* allcash charge style end */

/* allcashgift start */
#allcashgiftclose {
    color: #FFF;
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    /* 128.571% */
    letter-spacing: -0.056px;
    border-radius: 4px;
    background: #4A85EE;
    border: none;
    padding: 10px 40px;

}

#allcashgift-alt-close{
    
padding: 10px 40px;
border: 1px solid #4A85EE;
color:  #4A85EE;
text-align: center;
font-family: "Noto Sans KR";
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 18px; /* 128.571% */
letter-spacing: -0.056px;
color: #4A85EE;
text-align: center;
font-family: "Noto Sans KR";
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 18px; /* 128.571% */
letter-spacing: -0.056px;
border-radius: 4px;
}
.container.form-sec{
    margin-top:150px;
}

/* all cash gift end */

/* reponsive design start */
/* reponsive design start */
@media (max-width:1180px) {
    .container-fluid.home {
        background-position: bottom 0px right -138px;
    }
.table-heading{
    padding:0px 40px;
}
    .footer-container {
        display: flex;
        gap: 190px;
        background: #272C30;
        padding: 0px 40px;
    }
div#form-sec{
    padding:0px 40px;
}
    .navbar {
        padding: 30px 40px;
    }

    .col-1 {
        padding: 0px 40px;
    }

    .container-fluid.second>div {
        padding: 40px 32px;
        margin: 0px 40px;
    }
    .cont.second>div{
        padding: 40px 32px;
    }
    .wrapper.home{
        padding: 20px;
    }
    .icon-box{
        padding: 37px 10px 37px 10px;
    }
}

@media (max-width:768px) {
    .cont.second>div{
        padding: 40px 32px;
    }
    .wrapper.home{
        padding: 20px;
    }
    .icon-box{
        padding: 37px 40px 37px 40px;
    }
    .cont.second>div{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .field-select{
        width: 237px;
    }
    .wc-table{
        padding: 0px 20px;
    }
    .form-heading{
        font-size:20px;
    }
    .label{
        width: 80px;
        height: 72px;
        color: #FFF;
font-family: "Noto Sans KR";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
letter-spacing: -0.056px;
padding: 0px 7px;
text-align: left;
box-sizing: border-box;
    }
    .field{
        width: 219px;
height: 40px;

    }
    .table-heading{
    padding:0px 20px;
}
    .btn-submit{
        width: 43px;
height: 40px;
color: #FFF;
text-align: center;
font-family: "Noto Sans KR";
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 166.667% */
letter-spacing: -0.048px;
    }
    .field.small{
        width: 168px;
height: 40px;
flex-shrink: 0;
    }
    .table-sec {
        margin-top: 40px;
    }
    div#form-sec{
    padding:0px 20px;
}

    #mob-nav {
        height: 100vh;
        width: 100%;
    }

    .menu-join {
        display: none;
    }

    .mob-nav-btn {
        display: flex;
        width: 40px;
        height: 40px;
        padding: 10px 5px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
    }

    .mob-menu>a>p {
        color: #212121;
        text-align: center;
        font-family: "Noto Sans KR";
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.08px;
        margin: 0px;
    }

    .footer-logo-cont {
        text-align: center;
    }

    .banner-header {
        margin-top: 70px;
        margin-bottom: 59px;
    }

    /* .menubar-height {
        width: 100%;
        height: 80px;
    } */
    .footer-container {
        gap: 26px;
    }

    .banner-btn {
        color: #212121;
        font-family: "Noto Sans KR";
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.056px;
    }

    .container-fluid.home {
        padding-bottom: 70px;
    }

    .banner-header {
        color: #212121;
        text-align: center;
        font-family: "Noto Sans KR";
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 160%;
        /* 51.2px */
        letter-spacing: -0.128px;
    }

    .mob-nav-btn {
        display: flex;
        width: 40px;
        height: 40px;
        padding: 10px 5px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
    }

    #mob-nav {
        height: 100vh;
        width: 100%;
    }

    .moblile-nav-btn {
        display: block;
    }

    .mob-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .navbar {
        padding: 25px 20px;
    }

    .menu {
        display: none;
    }

    .menu-sec {
        display: none;
    }

    .container.home {
        justify-content: center;
    }

    .container-fluid.second>div {
        flex-direction: column;
    }

    .footer-container {
        flex-direction: column;
    }

    .container-fluid.home {
        background-image: none;
    }

    .footer-menu {
        width: 100%;
        text-align: center;
    }

    .footer-logo {
        margin-bottom: 0px;
    }

    .copyright {
        display: none;
    }

    .banner-btn {
        margin: auto;
    }
}

.menubar-height {
    width: 100%;
    height: 80px;
}