@font-face {
    font-family: 'Pretendard Variable';
    src: url('PretendardVariable-Regular.eot');
    src: url('PretendardVariable-Regular.eot?#iefix') format('embedded-opentype'),
        url('PretendardVariable-Regular.woff2') format('woff2'),
        url('PretendardVariable-Regular.woff') format('woff'),
        url('PretendardVariable-Regular.svg#PretendardVariable-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body {
    position: relative;
    overflow-x: hidden;
    margin: 0px;

}

.footer-logo {
    width: 130px;
    height: 27px;
    flex-shrink: 0;
}
.footer-menu{
    width:80%;
}

.container-fluid.footer {
    background: #272C30;
    padding-top: 50px;
    padding-bottom: 30px;
}

.contact.us {
    color: #FFF;
    font-family: Pretendard Variable;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    /* 141.176% */
    margin-top: 0px;
}

.footer-menu>p {
    color: #FFF;
    font-family: Pretendard Variable;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    /* 156.25% */
    margin-bottom: 12px;
}

.nav-cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
    align-items: center;
    width: 1180px;
}

.menu {
    display: flex;
    gap: 50px;
}

.menu-sec {
    display: flex;
    gap: 28px;
}

.menu-sec>p {
    color: #212121;
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 125% */
    letter-spacing: -0.064px;
    margin: 0px;
}

.menu>p {
    color: #212121;
    font-family: "Noto Sans KR";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 133.333% */
    letter-spacing: -0.072px;
    margin: 0px;
}

.logo {
    width: 130px;
    height: 27px;
    flex-shrink: 0;
}

.container-fluid {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.copyright {
    color: #797979;
    text-align: right;
    font-feature-settings: 'clig'off, 'liga'off;
    font-family: "Noto Sans KR";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    /* 157.143% */
}

.container {
    max-width: 1180px;
    display: flex;
    justify-content: space-between;
    position: relative;
    /* border: 1px solid black; */
}

.banner-img {
    /* position: absolute; */
    /* height: 400px; */
    width: 600px;
    object-fit: contain;
    bottom: -100px;
    /* right: 0; */
}
.row-1{
    border: 1px solid #EBEBEB;
background: #FFF;
}
.row-2{
    border-left: 1px solid #EBEBEB;
    border-right: 1px solid #EBEBEB;
}

.container-new.footer-container{
    width: 1180px;
    gap:71px;
}

.container-fluid.home {
    background-color: #CDE9FF;
    background-image: var(--feature-img);

    padding-bottom: 120px;
    background-position: bottom -145px right 20px;
    background-repeat: no-repeat;
    background-size: 56%;
}

.banner-btn {
    border-radius: 10px;
    background: #FFF;
    width: 213px;
    height: 66px;
    color: #212121;
    font-family: "Noto Sans KR";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.072px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-header {
    color: #212121;
    font-family: "Noto Sans KR";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    /* 76.8px */
    letter-spacing: -0.192px;
    margin-bottom: 73px;
    margin-top: 120px;
}

.container-fluid.second {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 60px 0px;
}

.container-fluid.second>div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px 110px;
    border-radius: 40px 0px;
    border: 1px solid #EEE;
    background: #FFF;
    box-shadow: 0px 8px 16px -6px rgba(24, 39, 75, 0.08), 0px 6px 8px -6px rgba(24, 39, 75, 0.12);

}

.icon-box {
    border-radius: 20px;
    border: 1px solid #EBEBEB;
    background: #FFF;
    display: flex;
    flex-direction: column;

    /* height: 187px; */
    padding: 37px 40px 36px 40px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    aspect-ratio: 1;
}

.icon {
    display: flex;
    width: 70px;
    height: 70px;
    justify-content: center;
    align-items: center;
}

.icon-box>p {
    color: #212121;
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: -0.064px;
    margin: 0px;
}

/* allcash charge style start */
.new-container {
    width: 1180px;

}

.form-heading {
    color: #212121;
    font-family: "Noto Sans KR";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.096px;
    margin-bottom: 8px;
    margin-top: 0px;
}

.form-subheading {
    color: #555;
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.064px;
    margin-bottom: 32px;
}

.row-1 {
    display: flex;
    gap: 20px;
    align-items: center;
}
.row-2 {
    display: flex;
    gap: 20px;
    align-items: center;
}
.label {
    width: 180px;
    height: 72px;
    border-bottom: 1px solid #FFF;
    background: #06195A;
    color: #FFF;
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 125% */
    letter-spacing: -0.064px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.field {
    border-radius: 4px;
    border: 1px solid #CCC;
    background: #FFF;
    width: 480px;
    height: 40px;
    padding-left: 16px;
}

.field.small {
    width: 372px;
    height: 40px;
    flex-shrink: 0;

}

.field.last::placeholder {
    color: #646464;
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 125% */
    letter-spacing: -0.064px;
    padding: 10px;
}

.field.last {
    border-radius: 4px;
    border: 1px solid #CCC;
    background: #E6E6E6;
}

.conatiner-fluid.form-section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-copyright{
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    /* width: 100%; */
    width: 1180px;
    
}
.new-container {
    width: 1180px;
}

.new-container.form-sec {
    padding-top: 100px;
    padding-bottom: 80px;
}

.btn-submit {
    color: #FFF;
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 133.333% */
    letter-spacing: -0.06px;
    width: 100px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #212121;
    margin-left: -12px;
}

.table-heading {
    color: #212121;
    font-family: "Noto Sans KR";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.096px;
}

table {
    border-spacing: 0px;
    padding: 0px 12px;
    border: 1px solid #EBEBEB;
}


thead {
    border-bottom: 1px solid black;
}

.table-head {
    border-bottom: 1px solid black;
}

th {
    border-bottom: 1px solid #06195A;
    background: #FFF;
}

td {
    border-bottom: 1px solid #EBEBEB;
    background: #FFF;
}

th,
td {
    padding: 20px;
    color: #212121;
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 125% */
    letter-spacing: -0.064px;
}

.pagination {
    margin-top: 32px;
    margin-bottom: 120px;
}

.pagination-nav {
    border-radius: 4px;

    background: white;
    display: flex;
    width: 32px;
    height: 32px;
    padding: 4px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #DFE3E8;
    background: #FFF;
}

.pagination-nav.active {
    background: #919EAB;
    opacity: 0.5;
}

.number {
    border-radius: 4px;
    border: 1px solid #DFE3E8;
    background: #FFF;
    display: flex;
    width: 32px;
    height: 32px;
    padding: 5px 4px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: var(--Black, var(--Black, #212121));
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
}

.number.active {
    color: #4A85EE;
    border: 1px solid #4A85EE;
}

#dial-cont {
    background-color:rgba(0, 0, 0, 0.70);;
    display: none;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 2px
}

.dailogue-box>h1 {
    color: #212121;
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    /* 160% */
    letter-spacing: -0.08px;
    margin-bottom: 6px;
}

.dailogue-box>h5 {
    color: #555;
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 160% */
    letter-spacing: -0.06px;
    margin-bottom: 24px;
    margin-top: 0px;
}

.dailogue-box>button {
    border-radius: 4px;
    background: var(--Primary-Color, #4A85EE);
    display: flex;
    padding: 10px 80px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    color: #FFF;
text-align: center;
font-family: "Noto Sans KR";
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 18px; /* 128.571% */
letter-spacing: -0.056px;
    
}
.tick{
    width: 60px;
height: 60px;
margin-bottom: 16px;

}
.dailogue-box {
    border-radius: 10px;
    background: #FFF;
    display:inline-flex;
    padding: 32px 60px;
    flex-direction: column;
    align-items: center;
    
}

/* allcash charge style end */

/* reponsive design start */
@media (max-width:1024px){
    .navbar{
        padding: 25px 20px;
    }
    .menu{
        display: none;
    }
    .menu-sec{
        display: none;
    }
    .container.home{
       justify-content: center;
    }
    .container-fluid.second>div{
        flex-direction: column;
    }
    .footer-container{
        flex-direction: column;
    }
    .container-fluid.home{
        background-image: none;
    }
    .footer-menu{
        width:100%;
        text-align: center;
    }
    .footer-logo{
        margin-bottom: 32px;
    }
    .copyright{
        display: none;
    }
    .banner-btn{
        margin: auto;
    }
}